@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

h2 {
  font-size: x-large;
  text-align: center;
  padding-bottom: 10px;
}

li {
  font-size: large;
  margin-left: 10%
}

a {
  color: blue
}

a:hover {
  color: red;
  text-decoration: underline;
}


/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
